[Desktop Entry]
Version=1.0
Type=Application
Name=eMark PDF Signer (Large)
GenericName=PDF Signer - Large
Comment=eMark PDF Signer with 4GB memory for large PDFs
Exec=/opt/emark/emark large %f
Icon=/opt/emark/emark.png
Terminal=false
Categories=Office;Utility;Java;
Keywords=pdf;sign;signature;certificate;digital;large;
StartupNotify=true
StartupWMClass=com-trexolab-App